.content {
  height: 50vh;
  background: rgb(250, 0, 210);
  background: linear-gradient(
    270deg,
    rgba(250, 0, 210, 1) 0%,
    rgba(1, 53, 199, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.content i {
  color: #fff;
  padding: 20px;
  margin-right: 10px;
  transition: all ease 0.5s;
  background-color: #000;
  border-radius: 50%;
}

.content i:hover {
  transform: scale(1.1);
}

.content p {
  color: #fff;
  margin-left: -30px;
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .content {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
  }
  .content i {
    padding: 10px;
  }
  .content p {
    font-size: 10px;
    margin-left: 4px;
  }
}
