.content {
  /* background: rgb(250, 0, 210);
  background: linear-gradient(
    270deg,
    rgba(250, 0, 210, 1) 0%,
    rgba(1, 53, 199, 1) 100%
  ); */
  background: transparent;
  height: 110vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  color: #fff;
}

.contentNo {
  display: none;
}

.il {
  width: 50%;
}
.sobreMi {
  width: 500px;
  margin-right: 2rem;
  animation: show 1.5s linear;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
  }
}

.sobreMi h2 {
  font-size: 70px;
  margin: 0 20px 20px 0;
}

.sobreMi button {
  border-radius: 40px;
  border: none;
  background: rgb(0, 229, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 229, 255, 1) 0%,
    rgba(0, 229, 255, 0.5298319156764268) 100%
  );

  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 0 20px #333;
  transition: all 0.2s ease-out;
  margin-top: 1rem;
}

.sobreMi button:hover {
  transform: scale(1.05);
}

.sobreMi a {
  color: #fff;
  text-decoration: none;
}

.logos {
  width: 500px;
  height: 60%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background: linear-gradient(
      180deg,
      rgba(22, 24, 30, 0) 0%,
      rgba(22, 24, 30, 0.7) 65.28%
    ),
    linear-gradient(0deg, rgba(22, 24, 30, 0.4), rgba(22, 24, 30, 0.4));
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
  animation: show 1.5s linear;
}

.contentLogos {
  text-align: center;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.contentLogos:hover {
  transform: scale(1.1);
}

.logos h2 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .content {
    padding: 0 10px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sobreMi {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .sobreMi h2 {
    font-size: 3rem;
  }
  .sobreMi p {
    font-size: 1rem;
  }

  .sobreMi button {
    width: 50%;
    height: 20%;
    padding: 2px;
    font-size: 15px;
  }

  .logos {
    width: 80%;
    height: 30%;
  }

  .imagenes {
    width: 70px;
  }
  .logos h2 {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
