.home {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 13, 75, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  width: 80%;
  height: 60%;
  padding: 10px;
}

.info {
  width: 50%;
  animation: infoo 2s ease 2s forwards;
  opacity: 0;
}

@keyframes infoo {
  from {
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
  }
}

.info h1 {
  font-size: 60px;
}

.profile {
  width: 50%;
}
.profile img {
  width: 100%;
  animation: image 2s ease 1s forwards;
  opacity: 0;
}

@keyframes image {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .person {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .profile {
    width: 100%;
  }

  .info {
    width: 100%;
    text-align: center;
  }

  .info h1 {
    font-size: 40px;
  }
}
