.nav {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  opacity: 0;
  animation: navbar 1s ease 3s forwards;
  backdrop-filter: blur(3px);
}

@keyframes navbar {
  from {
    transform: translateX(200px);
  }
  to {
    opacity: 1;
  }
}

.links {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.5s ease;
}

.links:hover {
  transform: scale(1.2);
}

.contact {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: rgb(0, 229, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 229, 255, 1) 0%,
    rgba(0, 229, 255, 0.5298319156764268) 100%
  );
  font-family: inherit;
  font-size: 17px;
  display: inline-block;
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  margin: 0 20px 0 0;
  padding: 0 0.5rem;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  border-radius: 20px;
  font-weight: 500;
}

.contact:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #fff;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.contact:hover {
  color: #000;
}

.contact:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.contact:hover:before {
  top: -30px;
  left: -30px;
}

.contact:active:before {
  background: #fff;
  transition: background 0s;
}

@media (max-width: 600px) {
  .nav {
    font-size: 15px;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
  }
}
