* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Quicksand", sans-serif;
  background: url("./img/bckPorfolio.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
