.content {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 13, 75, 1) 100%
  );
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 15% 0 15%;
}

.content h2 {
  padding-right: 30px;
  font-size: 50px;
}

.contentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 60%;
  height: 350px;
}

.contentImg img {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
}

.contentImg p {
  font-size: 20px;
  padding-bottom: 10px;
}

.app:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-out;
  background: rgba(29, 86, 253, 10);
  background: linear-gradient(
    90deg,
    rgba(112, 70, 210, 1) 0%,
    rgba(29, 86, 253, 1) 54%,
    rgba(69, 186, 252, 1) 100%
  );
}
