.content {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 13, 75, 1) 100%
  );
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 15% 0 15%;
}

.content h2 {
  padding-right: 30px;
  font-size: 50px;
}

.contentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 60%;
  height: 80%;
  margin-top: -100px;
}

.contentImg img {
  width: 300px;
  border-radius: 20px;
}

.contentImg p {
  font-size: 20px;
  padding: 20px 0;
}

.contentImg h3 {
  opacity: 1;
  transition: all ease 2s;
  color: #fff;
  text-decoration: none;
  width: 250px;
  margin-left: 20px;
  margin-top: -80px;
}

.app {
  transition: all 0.5s ease;
}

.app:hover {
  box-shadow: #00b4d8 2px 2px 20px, rgba(151, 65, 252, 1) -2px -2px 20px;
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .content {
    padding: 0 10px;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
  }

  .content h2 {
    padding: 0;
  }
  .contentImg {
    width: 100%;
  }
}
