.content {
  min-height: 100vh;
  /* background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 13, 75, 1) 100%
  ); */
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
  padding-bottom: 100px;
}

.contentNo {
  display: none;
}

.title {
  width: 100%;
  height: max-content;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.contentImg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  margin-top: -100px;
}

.contentImg a {
  text-decoration: none;
}

.proyectos {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 450px;
  height: 250px;
  border-radius: 10px;
  /* background: url("../../img/veñvet.png");
  background-size: cover;
  background-repeat: no-repeat; */
  text-align: center;
  transition: all ease 0.5s;
  animation: show 1.5s linear;
  overflow: hidden;
}

.proyectos img {
  position: absolute;
  width: 450px;
  height: 250px;
  border-radius: 10px;
}

.info {
  opacity: 0;
  z-index: 1;
  transition: 0.5s linear;
  width: 100%;
  height: 100%;
}

.proyectos:hover .info {
  opacity: 1;
  backdrop-filter: blur(4px) brightness(50%);
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

.proyectos:hover {
  transform: scale(0.99);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -150px;
  height: 300px;
  width: max-content;
}

.logos {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 10px 0 0 10px;
  color: #fff;
}

.title_proyectos {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  height: max-content;
  margin-top: 20px;
}

.proyectos p {
  color: #fff;
  font-size: 18px;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

@media (max-width: 600px) {
  .content {
    padding: 0 0 10rem 0;
    height: 200vh;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
  }
  .contentImg h2 {
    font-size: 50px;
    height: max-content;
    margin-top: -200px;
    padding: 0;
  }

  .contentImg {
    width: 100%;
  }

  .proyectos {
    height: 350px;
    margin-bottom: 30px;
  }

  .proyectos p {
    font-size: 15px;
    margin-top: 10px;
  }

  .logo {
    height: 40%;
  }
}
